:root {
  --roomHeight: 80px;
  --roomLength: 150px;
  --roomWidth: 100px;
}
.room__container {
  transform: rotateX(38deg) rotateZ(38deg);
  transform-style: preserve-3d;
  position: relative;
  height: var(--roomLength);
  width: var(--roomWidth);
  margin: auto;
}
.room__container * {
  transform-style: preserve-3d;
}
.room {
  text-align: center;
  color: white;
  letter-spacing: 5px;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  perspective: 800px;
  perspective-origin: 50% 100%;
}
.room__floor,
.room__ceiling,
.room__wall {
  position: absolute;
}

/* Floor and Ceiling */
.room__floor,
.room__ceiling {
  height: var(--roomLength);
  width: var(--roomWidth);
  top: 0;
  left: 0;
}
.room__floor {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}
.room__ceiling {
  transform: translateZ(var(--roomHeight));
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid green;
}

/*  Walls
    East West */
.room__wall--east,
.room__wall--west {
  width: var(--roomHeight);
  height: var(--roomLength);
  top: 0;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
}
.room__wall--east {
  right: 0;
  transform-origin: center right;
  transform: rotateY(90deg);
}
.room__wall--west {
  left: 0;
  transform-origin: center left;
  transform: rotateY(-90deg);
}

/*  Walls
    North South */
.room__wall--north,
.room__wall--south {
  width: var(--roomWidth);
  height: var(--roomHeight);
  left: 0;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}

.room__wall--north {
  transform: rotateX(90deg);
  transform-origin: top center;
  top: 0;
}
.room__wall--south {
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  bottom: 0;
}

/*  Walls 
    Layers */
.room__wall__layers {
  width: 200px;
  position: absolute;
  height: var(--roomHeight);
  top: 0;
  transform: rotateY(-90deg);
  left: 0;
  transform-origin: left;
  display: flex;
  justify-content: space-between;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    top: 0;
    left: 0;
  }
  &:after {
    transform: translateZ(-var(--roomWidth));
  }
}
.room__wall__layer-position {
  height: 100%; 
}
.room__wall__layer {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid green;
  position: absolute;
  width: var(--roomWidth);
  height: 100%;
  transform-origin: top left;
  transform: rotateY(90deg);

}

/*  Walls 
    North Layers */
.room__wall--north .room__wall__layer-position {
  transform: rotateZ(180deg);
}

/*  Walls 
    East Layers */
.room__wall--east .room__wall__layers {
  top: 100%;
  left: 0%;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateX(-90deg);
}
.room__wall--east .room__wall__layer {
  width: var(--roomLength);
}
.room__wall--east .room__wall__layers:after {
  transform: translateZ(-var(--roomLength));
}

/*  Walls 
    Floor Layers */
.room__floor {
  transform: rotateX(180deg);
}
.room__floor .room__wall__layers {
  height: var(--roomLength);
}
.room__floor .room__wall__layer-position {
  transform: rotateZ(180deg);
}

/*  Walls 
    Ceiling Layers */
.room__ceiling .room__wall__layers {
  height: var(--roomLength);
}

